html {
    height: 100% 
}

body {
    height: 100% 
}

#flash-message {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    background-color: burlywood;
    text-align: center;
}

#map {
    height: 375px; 
    width: 600px;
    margin: 0 auto;
}

#chat-area {
    display: none;
    width: 300px;
    height: 150px;
    overflow: auto;
}

@media (min-width: 200px) and (max-width: 960px) {
    /* ここに幅が200px～960pxまでの CSS を記述 スマホ対応 */
    body {
        height: 100%;
    }

    #header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10%;
        width: 100%;
    }
    #main {
        height: 90%;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
    }
    
    #map {
        width: 100%;
        height: 100%;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        box-shadow: 0 0px 20px 0 rgba(0,0,0,0.25);
        /* filter: hue-rotate(240deg); */
    }

    #info-wrapper {
        position: absolute;
        top: 70%;
        padding: 10px 30px;
        border-radius: 0.75rem;
        background-color: white;
    }
    #area-name {
        text-align: center;
        margin-bottom: 10px;
    }

    #flex-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #flex-container {
        padding-left: 30px;
        padding-right: 30px;
    }

    #chat-btn {
        position: absolute;
        bottom: 5%;
    }

    #here-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 3%;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: white;
    }
    
    #here-btn-img {
        width: 36px;
    }

    #chat-area {
        position: absolute;
        display: none;
        justify-content: center;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
    }

    #chat-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .area-name {
        text-align: center;
    }

    #message-form {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10%;
        width: 90%;
    }

    #message {
        width: 90%;
    }

    #chat-close-btn {
        position: absolute;
        bottom: 5%;
    }

    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        font-size: 6px;
    }
}