
/* BASIC */

html {
    background-color: #56baed;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  
  a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }

  a:hover {
    text-decoration: none; /*リンクの下線を消す*/
    color: rgb(138, 150, 172);
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  
  /* .form {
      margin-top: 20px;
  } */
  
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 80%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding-top: 20px;
    width: 90%;
    max-width: 450px;
    position: relative;
    -webkit-box-shadow: 0 0px 30px 0 rgba(0,0,0,0.15);
    box-shadow: 0 0px 30px 0 rgba(0,0,0,0.15);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  
  
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=submit], input[type=reset], #register-btn {
    background-color: #39e796;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-box-shadow: 0 0px 10px 0 rgba(95, 233, 141, 0.4);
    box-shadow: 0 0px 10px 0 rgba(95, 233, 141, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 20px 20px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  button:focus {
    outline: none;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #2fd487;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text], input[type=email], input[type=password] {
    background-color: #fff;
    color: #0d0d0d;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px;
    width: 85%;
    border: 1px solid #e2e2e2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    background-color: #fff;
    outline: none; /*googleの仕様を消す*/
    border-bottom: 1px solid #2fd487;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }